# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Database
*.db

# ChromaDB
chromadb_storage/

# Uploaded files
data/uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
